/* Home.css */

/* Contêiner do conteúdo */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Remover 100vh */
    max-width: 600px; /* Definir um limite de largura */
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center;
    padding: 20px;
    overflow: hidden; /* Evita barra de rolagem lateral */
  }
  
  /* Estilo do título */
  .home-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  /* Estilo do parágrafo */
  .home-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  /* Estilo do link para o botão */
  .home-container a {
    text-decoration: none;
  }
  
  .home-container button {
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
  }
  
  .home-container button:hover {
    background-color: #218838;
  }
  
